streamlit==1.52.2

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4

faiss-cpu==1.13.2
pypdf==6.5.0

ultralytics==8.3.241
torch==2.9.1
torchvision==0.24.1

opencv-python==4.12.0.88
numpy==2.2.6
pillow==12.0.0

python-dotenv==1.2.1
